
# History files
.Rhistory
.Rapp
*.history

# Example code in package build process
*-Ex.R

# RStudio files
*.RData
!/data/*.RData
.Rproj.user/
.Rproj
.Rproj.user
*.Rdata
*.Rproj
.DS_Store

# R build artifacts
*.tar.gz
*.Rcheck/
check/
Rplots.pdf
vignettes/*.html
